@model AsposeTestTask.Web.Controllers.Company.Query.QueryCompanyPaymentVM

@{
    ViewData["Title"] = "CalculateCompanyPayment";
}

<h1>Calculate Company Payment</h1>

<p>
    <strong>Company:</strong> @ViewBag.Company.CompanyName
</p>
<p>
    <strong>Payment Date:</strong> @ViewBag.PaymentDate
</p>
<p>
    <strong>Payment:</strong> @Model.Payment
</p>

<div>
    @Html.ActionLink("Back to Company List", "CompanyList")
</div>

<div>
    <form method="get" action="@Url.Action("CalculateCompanyPayment", "Company")">
        <input type="hidden" name="id" value="@Model.CompanyId" />
        <label for="paymentDate">Payment Date:</label>
        <input type="date" name="paymentDate" id="paymentDate" value="@ViewBag.PaymentDate.ToString("yyyy-MM-dd")">
        <input type="submit" value="Calculate">
    </form>

</div>
